# menu "PID tuner config"
#
#   choice TUNER_MCUS_INTERFACE
#     prompt "Select interfacing pins"
#     default USE_DEFAULT_CONF
#     help
#       Selects the physical pins used for interfacing the tactile and pots.
#
#     config USE_DEFAULT_CONF
#       bool "Default i.e. ADC1 (CHAN 0, 3 and 6) for POTS, GPIO13 for tactile"
#
#     config USE_USER_CONF
#       bool "User specified"
#   endchoice
#
#   menuconfig SELECT_PINS
#     depends on TUNER_MCUS_INTERFACE != USE_DEFAULT_CONF
#     prompt "Select pins for interfacing"
#     help
#       Select pins for interfacing if user specified option is chosen.
#
#     config POT_ADC1_CHAN0
#       int "POT ADC1 Channel 1 (0-7)"
#       range 0 7
#       default 0
#       help
#         Specify the ADC1 channel for POT interface.
#
#     config POT_ADC1_CHAN2
#       int "POT ADC1 Channel 2 (0-7)"
#       range 0 7
#       default 3
#       help
#         Specify the ADC1 channel for POT interface.
#
#     config POT_ADC1_CHAN3
#       int "POT ADC1 Channel 3 (0-7)"
#       range 0 7
#       default 6
#       help
#         Specify the ADC1 channel for POT interface.
#
#     config GPIO_TACTILE
#       int "GPIO for tactile"
#       range 0 30
#       default 13
#       help
#         Specify the GPIO pin for tactile interface.
#   endmenu
#
# endmenu
